$zero: 0;
$none: none;
$border-radius: 17px;

$left: left;
$right: right;


$hover-color: #0075B3;
$active-color: #44D62C;
$text-color: #272F38 ;
$button-background: #08589D;
$text-reverse-color: #fff;

$small-typograpy-size: 12px;
$normal-typography-size: 16px;
$large-typography-size: 20px;
$extra-large-typography-size: 24px;

$relative: relative;

$block: block;